###########################################################
# System Config

# Username
USER_NAME=scanner
# Passwort (SECURITY ALERT: Change it!)
USER_PASS=OhzuyojuZaiGhiewi7vo9Wohb5aeBoox

# Timezone
TZ=Europe/Berlin

# UID of the user (and of the files inside /data)
PUID=1000
# GID of the user (and of the files inside /data)
PGID=1000

###########################################################
# Host Config

# Port on which SSH is exposed on the host
SSH_PORT=2222

# Path to the configuration directory on the host
HOST_CONFIG_DIR=./volumes/config

# Path to the data directory on the host
HOST_DATA_DIR=./volumes/data
